.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 42rem;
  padding-bottom: 10rem;
  background-color: grey;

  &__title {
    font-weight: bold;
  }
}