.card {
  //TODO container should decide these properties
  border: 1px solid #BFBFBF;
  box-shadow: 0px 2px 11px 1px #aaaaaa;
  text-align: center;
  margin: 0 1rem;
  padding: 1rem;
  background-color: white;

  &__title {
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    margin-bottom: 1.5rem;
  }

  &__body {
    margin-bottom: 1.5rem;
  }

  &__footer {
    margin-bottom: 1.5rem;
  }
}