.color-white {
  color: white;
}

.color-lowlight {
  color: #ffffffc7;
}

.color-red {
  color: red;
}

.color-lightgrey {
  color: #bdbdbd;
}

.background-lightdark {
  background-color: #f0f0f0eb;
}

.background-dark {
  background-color: grey;
}