.text-content {
  &--wrapped {
    padding: 0 30rem;
  }

  &__title {
    &--size-l {
      font-size: 3.2rem;
    }
  
    &--size-m {
      font-size: 3rem;
    }
  
    &--size-s {
      font-size: 1.5rem;
    }

    &--dark {
      color: black;
    }

    &--light {
      color: white;
    }
  }

  &__desc {
    margin: 1.5rem 0;

    &--size-l {
      font-size: 1.8rem;
    }
  
    &--size-m {
      font-size: 1.4rem;
    }
  
    &--size-s {
      font-size: 1.2rem;
    }

    &--dark {
      color: #5e5e5e;
    }

    &--light {
      color: #ffffffc7;
    }
  }

  &--centered {
    text-align: center;
  }
}