.checkbox {
  position: relative;
  display: inline-block;
  margin-right: 15px;

  [type="radio"] {
    visibility: hidden;
  }

  [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #4BC3F7;
    border-radius: 100%;
  }

  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    background-color: white;
    border-radius: 100%;
  }

  [type="radio"]:checked + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 6px;
    width: 5px;
    height: 8px;
    border: solid #4BC3F7;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  label {
    padding-left: 6px;
  }
}