.fancy-link {
  &__underline {
    width: 0;
    margin: 0 auto;
    border-bottom: 2px solid red;
    transition: width 0.2s linear;
  }
  
  a:hover {
    color: red;
  }
  
  a:hover ~ &__underline {
    width: 100%;
  }

}