.heading {
  &-l {
    font-weight: 700;
  }
  &-m,
  &-s {
    font-weight: 400;
  }

  &-l {
    font-size: 2rem;
  }

  &-m {
    font-size: 1.5rem;
  }

  &-s {
    font-size: 1rem;

    &--bold {
      font-weight: bold;
    }
  }

  @include md {
    &-l {
      font-size: 2.75rem;
    }

    &-m {
      font-size: 2.3rem;
    }

    &-s {
      font-size: 1.1rem;
    }
  }

  @include lg {
    &-l {
      font-size: 3rem;
    }
    &-m {
      font-size: 2rem;
    }
    &-s {
      font-size: 1.5rem;
    }
  }
}