.input {
  position: relative;

  &__item {
    display: block;
    width: 100%;
    background-color: #475A70;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px;
  }

  &__label {
    top: 8px;
    position: absolute;
    z-index: 10000;
    color: #A2ABB6;
    padding-left: 10px;
  }
}